HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore build directory for React frontend
/src/frontend/todo-app/build/
/src/frontend/todo-app/node_modules/
/src/frontend/todo-app/.cache/
/src/frontend/todo-app/.next/
/src/frontend/todo-app/.nuxt/
/src/frontend/todo-app/.expo/